@import "tailwindcss";

body {
    @apply antialiased text-gray-800;
  }
  
  /* Custom scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    @apply bg-gray-100;
  }
  
  ::-webkit-scrollbar-thumb {
    @apply bg-blue-600 rounded-full;
  }

  /* Prevent scrolling when mobile menu is open */
body.menu-open {
    overflow: hidden;
  }
  
  /* Custom scrollbar for mobile menu */
  .mobile-menu-scroll {
    scrollbar-width: thin;
    scrollbar-color: #3b82f6 #f1f5f9;
  }
  
  .mobile-menu-scroll::-webkit-scrollbar {
    width: 8px;
  }
  
  .mobile-menu-scroll::-webkit-scrollbar-track {
    background: #f1f5f9;
  }
  
  .mobile-menu-scroll::-webkit-scrollbar-thumb {
    background-color: #3b82f6;
    border-radius: 20px;
  }

  :root {
    --toastify-color-success: #3b82f6; /* Blue-500 */
    --toastify-color-error: #ef4444;   /* Red-500 */
  }
  
  /* Optional: Customize icon colors */
  .Toastify__toast-icon svg {
    fill: white;
  }